.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  /* mask-image : will allow the targeted element fade into whatever color choice, in this instance using the opacity instead of changing colors */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
}
